<div id="<%= dom_id acadamic_program %>">
  <p>
    <strong>Program:</strong>
    <%= acadamic_program.program.name %>
  </p>

  <p>
    <strong>Program level:</strong>
    <%= acadamic_program.program_level.name %>
  </p>

  <p>
    <strong>Program type:</strong>
    <%= acadamic_program.program_type.name %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= acadamic_program.duration %>
  </p>

</div>
