<div id="<%= dom_id acadamic_announcement %>">
  <p>
    <strong>Start date:</strong>
    <%= acadamic_announcement.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= acadamic_announcement.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= acadamic_announcement.status %>
  </p>

  <p>
    <strong>Acadamic program:</strong>
    <%= acadamic_announcement.acadamic_program_id %>
  </p>

  <p>
    <strong>Acadamic year:</strong>
    <%= acadamic_announcement.acadamic_year_id %>
  </p>

</div>
